
body {
    font-family: Arial, sans-serif;
}

.form-container {
    width: 50%;
    margin: auto;
}

.form-row {
    margin-bottom: 10px;
}

.form-row label {
    display: block;
    margin-bottom: 5px;
}

.form-row input,
.form-row textarea {
    width: calc(50% - 5px);
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.form-row input[type="file"] {
    width: auto;
}

.form-row input,
.form-row textarea,
.form-row select {
    padding: 8px;
}

.form-row textarea {
    width: calc(100% - 10px);
}

.form-row .half-width {
    width: calc(50% - 5px);
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.form-row .half-width:first-child {
    margin-right: 10px;
}

.form-row .file-container {
    display: flex;
    align-items: center;
}
